<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>test-service</servlet-name>
        <servlet-class>com.mochousoft.gwt.server.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jsonp-service</servlet-name>
        <servlet-class>com.mochousoft.gwt.server.JsonpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pizza-service</servlet-name>
        <servlet-class>com.mochousoft.gwt.server.PizzaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>test-service</servlet-name>
        <url-pattern>/test/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>jsonp-service</servlet-name>
        <url-pattern>/jsonp-service/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>pizza-service</servlet-name>
        <url-pattern>/pizza-service/*</url-pattern>
    </servlet-mapping>

</web-app>
